<!-- start custom head snippets -->

{% if page.canonical %}
<!-- add canonical reference to originating page for all variants -->
<link rel="canonical" href="{{ page.canonical_override }}" />
{% endif %}

<!-- insert favicons. use https://realfavicongenerator.net/ -->

<!-- process mermaid diagrams -->
<script src="//cdn.jsdelivr.net/npm/mermaid@8.6.4/dist/mermaid.min.js"></script>
<script>
mermaid.initialize({
    startOnLoad: true,
    logLevel: 'info',
    git: {
        theme: 'null',
        nodeSpacing: 100,
        nodeRadius: 10,
        nodeLabel: {
            width: 100,
            height: 100,
            x: -25,
            y: 0
        }
    }
});
</script>

<!-- end custom head snippets -->
