/*!
 * Lightenna-specific styles
 * Copyright Lightenna Ltd - lightenna.com | @lightenna
*/

/* sensible page width and borders */
#main {
  @include clearfix;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1em;
  padding-right: 1em;
  -webkit-animation: $intro-transition;
  animation: $intro-transition;
  -webkit-animation-delay: 0.15s;
  animation-delay: 0.15s;
}

/* front page, service page */
.layout--splash #main, .layout--splash-tag #main {
  max-width: 80%;
  @include breakpoint($large) {
    max-width: 68%;
  }
  @include breakpoint($x-large) {
    max-width: 56%;
  }
  @include breakpoint($xx-large) {
    max-width: 52%;
  }
}
/* general article */
#main {
  max-width: 80%;
  @include breakpoint($large) {
    max-width: 95%;
  }
  @include breakpoint($x-large) {
    max-width: 90%;
  }
  @include breakpoint($xx-large) {
    max-width: 82%;
  }
}

.left {
  float: left;
  width: 50%;
}

.right {
  float: left;
  width: 50%;
}

.align-right {
  text-align: right;
}

.n-col:after {
  content: '';
  display: block;
  clear: both;
}

.page__hero--overlay .page__lead {
  background-color: rgba(0,0,0,0.5);
  padding: 0.2em 0 0.2em 0.7em;
}

.page__pre_content {
  font-size: 0.8em;
  color: gray;
  float: right;
  // hide the 'Tags' label
  .page__taxonomy strong {
    display: none;
  }
  // make it float up-right of the text
  position: relative;
  top: -3em;
  height: 0;
}

// quote attribution
p.smallright {
  text-align: right;
  font-size: 80%;
}

// scalable SVG embeds, centred
object.wrapper {
  position: relative;
}
div.svg-embed {
  width: 100%;
  text-align: center;
  figure {
    display: block;
    margin: 0 auto;
  }
}

// neat incidental captions
figure figcaption {
  font-size: 0.5em;
}

// mermaid diagram theme
.mermaid {
  .node-label p {
    font-size: 0.75em;
    line-height: 1.0em;
    margin: 1.0em 0 1.0em 0;

    span {
      &.commit-id {
        color: lightgrey !important;
      }
      &.branch-label {
        color: black !important; // necessary to override #theme style
      }
    }
  }
}

// right aligned text looks horrible, but feature__item--center/right are useful
.feature__item--right, .feature__item--center {
  text-align: left;
}
// remove annoying padding, breaks the line of the page
.feature__item--right .archive__item-body {
  padding-left: 0;
  margin-right: 1.6%;
}
// remove strange underline on unlinked title hover
.archive__item:hover .archive__item-title {
  text-decoration: none;
}

// nice download buttons
.btn.btn--inverse:hover {
  color: white;
  background-color: lightslategrey;
}
.download-button {
  a {
    text-align: left;
    padding-left: 3.4em;
    background-position: 0.8em center;
    background-repeat: no-repeat;
    span {
      display: block;
      font-weight: normal;
      &.main {
        font-weight: bold;
      }
    }
  }
  &.type-pdf {
    a {
      background-image: url('/assets/chrome/PDF_32.png');
    }
  }

}

// show mini map on masthead, but only when the viewport is big enough
@media (max-width: 52em) {
  .masthead .ukmap {
    display: none;
  }
}
.masthead .ukmap {

  text-align: right;
  margin-top: -1.0em;
  color: #7a8288;

  img {
    height: 5.0em;
    position: absolute;
    top: -10px;
    margin-left: -2.5em;
    z-index: -1;
  }

  span {
    white-space: nowrap;

    &.estbased {
      font-size: 0.5em;
    }

    &.phonenumber {
      display: block;
    }
  }
}

// hide print masthead
.print-masthead {
  display: none;
}

.mailchimp-signup {
  max-width: 424px;
  float: right;
  margin-top: -20px;
}

@media print {
  // clean up redundant (for print) page elements
  .page__comments,
  .page__share,
  .page__meta,
  .page__content hr,
  .reveal-link,
  .responsive-video-container {
    display: none;
  }

  // show background on hero/title
  .page__hero--overlay {
    -webkit-print-color-adjust: exact !important;   /* Chrome, Safari */
    color-adjust: exact !important;                 /* Firefox */
  }

  // show print masthead
  .print-masthead {
    display: block;
  }

  body {
    &:after {
      content: "For more information, please contact Alex Stanhope on +442071835698. \00A9 2018 Lightenna Ltd";
    }
  }
}
