/*!
 * Lightenna-specific styles
 * Copyright Lightenna Ltd - lightenna.com | @lightenna
*/

/* duplicate the variables we use locally from the remote theme */
$intro-transition: intro 0.3s both !default;
$large: 1024px !default;
$x-large: 1280px !default;
$xx-large: 1680px !default;

/* sensible page width and borders */
#main {
  @include clearfix;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1em;
  padding-right: 1em;
  -webkit-animation: $intro-transition;
  animation: $intro-transition;
  -webkit-animation-delay: 0.15s;
  animation-delay: 0.15s;
}

/* front page, service page */
.layout--splash #main, .layout--splash-tag #main {
  max-width: 80%;
  @include breakpoint($large) {
    max-width: 68%;
  }
  @include breakpoint($x-large) {
    max-width: 56%;
  }
  @include breakpoint($xx-large) {
    max-width: 52%;
  }
}
/* general article */
#main {
  max-width: 80%;
  @include breakpoint($large) {
    max-width: 95%;
  }
  @include breakpoint($x-large) {
    max-width: 90%;
  }
  @include breakpoint($xx-large) {
    max-width: 82%;
  }
}

@media print {
  body {
    &:after {
      content: "For more information, please contact Alex Stanhope on +4420 8133 0692. \00A9 2018 Lightenna Ltd";
    }
  }
}
