<div class="mermaid">
gitGraph:
commit
branch newbranch
checkout newbranch
commit
checkout master
commit
checkout newbranch
commit
checkout master
commit
merge newbranch
</div>

<!-- CLONED from custom.html: process mermaid diagrams -->
<script src="//cdn.jsdelivr.net/npm/mermaid@8.6.4/dist/mermaid.min.js"></script>
<script>
    mermaid.initialize({
        startOnLoad: true,
        logLevel: 'info',
        git: {
            nodeSpacing: 100,
            nodeRadius: 10,
            nodeLabel: {
                width: 100,
                height: 100,
                x: -25,
                y: 0
            }
        }
    });
</script>
