---
layout: splash
header:
  show_overlay_excerpt: true
---

<section class="page__content" itemprop="text">
  {% if page.toc %}
  <aside class="sidebar__right">
    <nav class="toc">
      <header><h4 class="nav__title"><i class="fa fa-{{ page.toc_icon | default: 'file-text' }}"></i> {{ page.toc_label | default: site.data.ui-text[site.locale].toc_label }}</h4></header>
      {% include toc.html sanitize=true html=content h_min=2 h_max=3 class="toc__menu" %}
    </nav>
  </aside>
  {% endif %}
  {{ content }}
  <div class="post">
    <ul class="postlist">
    {% if page.tag %}
      {% for post in site.tags[page.tag] %}
        {% assign remainder = forloop.index | modulo: 2 %}
      <li class="postimg">
        <span class="img {% if remainder == 0 %}left{% else %}right{% endif %}"><a href="{{ site.baseurl }}{{ post.url }}"><img src="{{ post.header.small_image }}" alt="Image: {{ post.title }}" /></a></span>
        <span class="text">
          <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a><br />
          {% if post.preview.parentheses %}{{post.preview.parentheses}}{% else %}{{ post.date | date_to_string }}{% endif %}<br />
          {{ post.description }}<br />
          <a class="readmore" href="{{ site.baseurl }}{{ post.url }}">Read more</a>
        </span>
      </li>
      {% endfor %}
    {% else %}
      {% for post in site.posts %}
      <li class="postimg">
        <span class="img {% if remainder == 0 %}left{% else %}right{% endif %}"><a href="{{ site.baseurl }}{{ post.url }}"><img src="{{ post.header.small_image }}" alt="Image: {{ post.title }}" /></a></span>
        <span class="text">
          <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a><br />
          {% if post.preview.parentheses %}{{post.preview.parentheses}}{% else %}{{ post.date | date_to_string }}{% endif %}<br />
          {{ post.description }}<br />
          <a class="readmore" href="{{ site.baseurl }}{{ post.url }}">Read more</a>
        </span>
      </li>
      {% endfor %}
    {% endif %}
    </ul>
  </div>

  {% if page.link %}<div><a href="{{ page.link }}" class="btn btn--primary">{{ site.data.ui-text[site.locale].ext_link_label | default: "Direct Link" }}</a></div>{% endif %}
  {% if page.footer.content %}<div>{{ page.footer.content }}</div>{% endif %}

</section>

