---
layout: single
---

<section class="page__content" itemprop="text">
  {% if page.toc %}
  <aside class="sidebar__right">
    <nav class="toc">
      <header><h4 class="nav__title"><i class="fa fa-{{ page.toc_icon | default: 'file-text' }}"></i> {{ page.toc_label | default: site.data.ui-text[site.locale].toc_label }}</h4></header>
      {% include toc.html sanitize=true html=content h_min=2 h_max=3 class="toc__menu" %}
    </nav>
  </aside>
  {% endif %}
  {{ content }}
  <div class="post">
    <ul>
    {% if page.tag %}
      {% for post in site.tags[page.tag] %}
      {{ posts | json }}
      <li><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a> ({{ post.date | date_to_string }})<br>
        {{ post.description }}
      </li>
      {% endfor %}
    {% else %}
      {% for post in site.posts %}
      <li><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a> ({{ post.date | date_to_string }})<br>
        {{ post.description }}
      </li>
      {% endfor %}
    {% endif %}
    </ul>
  </div>

  {% if page.link %}<div><a href="{{ page.link }}" class="btn btn--primary">{{ site.data.ui-text[site.locale].ext_link_label | default: "Direct Link" }}</a></div>{% endif %}
</section>

